@font-face {
  font-family: roboto;
  src: url(../assets/fonts/Roboto-Bold.ttf);
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #98c8de, #645aa4);
  font-family: "roboto";
}

.container {
  display: flex;
  flex-direction: column;
}
