.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  padding: 2rem;
}

.pokemon-card {
  background: linear-gradient(#d37ea9, #ffc55a);
  border: 2px solid #e9d5ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #333333;
  font-size: clamp(1rem, 2vw - 2rem, 2rem);
  box-shadow: 10px 10px 18px -6px rgb(58, 57, 58);
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.2s;
}

.pokemon-card:hover {
  transform: scale(1.05);
  background: #fcbf49;
}

.pokemon-image {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .pokemon-card {
    width: 80%;
    font-size: 0.3rem;
  }

  .pokemon-image {
    width: 80%;
  }
}

@media screen and (min-width: 600px) and (max-width: 1025px) {
  .cards {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 1rem;
    justify-items: center;
  }

  .pokemon-card {
    width: 60%;
    font-size: 0.6rem;
  }

  .pokemon-image {
    width: 80%;
  }
}
